* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: bisque;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 94vh;
}

.game-info {
  margin-left: 30px;
}

.game-info > ol > li {
  margin-bottom: 15px;
}

.game-info > ol > li > button {
  font-size: 15px;
  background: rgb(177, 65, 65);
  color: white;
  
}

.game-info > ol > li::marker{
  font-size: 20px;
}
